* {

    margin: 0px ;
    padding: 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body {

    height: 100%;
    width: 100vw ;
    background-color: cornflowerblue;
}

body {

    background: url('../imagens/fundo-madeira.jpg') no-repeat fixed top center;
    background-size: cover ;
}

main {
        position: relative ;
        height: 100%;
}

#movel {

        position: absolute ;
        background: url('../imagens/frame-iphone.png') no-repeat ;
        width: 310px ;
        height: 625px ;   
        top: 50%; 
        left: 50%;
        transform: translate(-50%,-50%);

}

#rame {

        position: absolute;
        top: 79px ;
        left: 22px ;
        width: 269px;
        height: 473px;
        border-radius: 2px ;
}

#social {

        text-align: left;
        padding: 12px ;

}


#social img {
        
        width: 50px ;
        text-align: left;
        margin: 8px ;
        border-radius: 50% ;
        box-shadow: 5px 10px 15px black;
        
}

#social img:hover {

        box-sizing: border-box;
        box-shadow: 5px 10px 25px rgba(255, 255, 255, 0.671);
        transform: translate(-5px,-5px );
        border: 3px solid rgba(255, 255, 255, 0.884);
        transition: transform 0.4s;

}